* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0c0e46;
}

.card {
  width: 700px;
  background: #ccc;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

/* Scroll BAR */
::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#08aeea, #2af598);
  border-radius: 100px;
}
